button{
    background-color: black;
    border: 1px solid yellow;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: gray;
    color: white ;
}