.dark{
    background-color: blue;
    color: white;
}

.container{
    width: 16em;
    margin: 0 0.2em;
    float: left;
}

.pic img{
    width: 100%;
}

.title{
    font-weight: bold;
    margin-bottom: 1em;
    color: white;
}

.channel, .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.views span{
    padding: 0 0.5em;
}